@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet');
.main02 {
  color: #51A3D3;
}

.font175 {
  font-size: 1.75rem;
  font-weight: bold;
}

.font125 {
  font-size: 1.25rem;
}

.btn-pink {
  color: #fff;
  background: #FF7987;
  border: #FF7987;
  border-radius: 50px;
  padding: .25rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.btn-pink:hover {
  color: #fff;
  background: #ff6070;
  border: #ff5062;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #022B42;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title-bar .title {
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 56px;
}

.title-bar .bar-icon {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-bg {
  background-image: url("../images/mission_bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 56px);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.login .img-planet {
  position: absolute;
  width: 200px;
  right: -70px;
  bottom: 126px;
}

.login input::-webkit-input-placeholder {
  color: #a5a5a5;
}

.login input:-ms-input-placeholder {
  color: #a5a5a5;
}

.login input::-ms-input-placeholder {
  color: #a5a5a5;
}

.login input::placeholder {
  color: #a5a5a5;
}

.swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

.swiper-container .loading {
  width: 60%;
  margin-bottom: 1.75rem;
}

.swiper-container .introduce {
  background-image: url("../images/introduce_bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-size: contain;
}

.swiper-container .notice {
  border: 1px solid #BB0031;
  background-color: rgba(187, 0, 49, 0.4);
  padding: 1rem;
  border-radius: 20px;
  margin: 3rem 2rem 1rem 2rem;
}

.swiper-container .swiper-pagination-bullet {
  border: 2px solid #51A3D3;
  background-color: transparent;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-container .swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 10px;
  background-color: #51A3D3;
}
/*# sourceMappingURL=main.css.map */