// 字型
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet');

.font175 {
    font-size: 1.75rem;
    font-weight: bold;
}
.font125 {
    font-size: 1.25rem;
}

// 顏色
$mainBlue100: #51A3D3;
$mainBlue200: #0074A2;
$mainBlue300: #004973;
$mainBlue400: #022B42;
$mainPink100: #FF99A6;
$mainPink200: #FF7987;
$mainPink300: #F4435A;
$mainPink400: #BB0031;

.mainblue100 {
    color: $mainBlue100;
}

.mainpink100 {
    color: $mainPink100;
}

// mixin
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

// 按鈕
.btn-pink {
    color: #fff;
    background-color: $mainPink200;
    border-radius: 50px;
    padding: .25rem 1.25rem;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    &:hover, &:active, &:focus {
        color: #fff!important;
        background-color: darken($mainPink200, 10%)!important;
        border-color: darken($mainPink200, 10%)!important;
    }
    &-outline {
        background-color: transparent;
        color: $mainPink200;
        border: 1px solid $mainPink200;
        border-radius: 50px;
        &:hover {
            color: darken($mainPink200, 10%)!important;
            border-color: darken($mainPink200, 10%)!important;
        }
    }
}

html {
    overflow-x: hidden;
}

body {
    background-color: $mainBlue400;
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $mainBlue400;
    z-index: 2;
    .title {
        text-align: center;
        color: white;
        font-size: 18px;
        line-height: 56px;
    }
    .bar-icon {
        width: 56px;
        height: 56px;
        @include flex_center;
    }
}

.game-bg {
    background-image: url("../images/mission_bg.svg");
    @include background-img;
    height: calc(100vh - 56px);
    margin-top: 56px;
}

// 星球主頁 index.html
.planet-top {
    position: fixed;
    top: 56px;
    left: 0;
    background-color: rgba(2, 43, 66, 0.8);
    height: 40px;
    .now-point {
        color: white;
        display: flex;
        align-items: center;
        background-color: $mainBlue200;
        border-radius: 50px;
        padding: .05rem 1.25rem .05rem 1rem;
        height: 30px;
    }
}
.main-planet {
    margin-top: 96px;
    padding-top: 1rem;
    margin-bottom: 86px;
    .planet-row {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 1.25rem;
        button {
            padding: 0;
        }
    }
}

.planet-row {
    animation: ani-planet 2s infinite;
    &:nth-child(n) {
        .btn {
            &:nth-child(3n) {
                animation: ani-planet 4s infinite;
            }
            &:nth-child(3n+2) {
                animation: ani-planet 1s infinite;
            }
        }
    }
    &:nth-child(2n) {
        .btn {
            &:nth-child(3n) {
                animation: ani-planet 3s infinite;
            }
            &:nth-child(3n+2) {
                animation: ani-planet 4s infinite;
            }
        }
    }
    &:nth-child(3n) {
        .btn {
            &:nth-child(3n) {
                animation: ani-planet 1s infinite;
            }
            &:nth-child(3n+1) {
                animation: ani-planet 3s infinite;
            }
            &:nth-child(3n+2) {
                animation: ani-planet 4s infinite;
            }
        }
    }
}

@keyframes ani-planet {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-2.5px);
    }
    100% {
      transform: translateY(0px);
    }
}

.scan-planet {
    width: 100%;
    text-align: center;
    background-color: rgba(2, 43, 66, 0.8);
    position: fixed;
    bottom: 0;
}
.modal-content {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid $mainBlue100;
    background-color: rgba(2, 43, 66, 0.9);
    color: white;
    padding: 1rem 1.5rem 2.75rem 1.5rem;
    .swiper-container {
        position: relative;
        .user {
            position: absolute;
            top: 20px;
            color: black;
            left: 20px;
            font-weight: bold;
        }
        .swiper-pagination {
            bottom: 25px;
        }
    }   
}

// 登入 01_login.html
.login {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    height: calc(100vh - 56px);
    .img-planet {
        position: absolute;
        width: 180px;
        right: -70px;
        bottom: 60px;
    }
    input::placeholder {
        color: #a5a5a5;
    }
}

// 歡迎 02_welcome.html
.swiper-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white; 
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .loading {
        width: 50%;
        margin-bottom: 1rem;
    }
    .introduce {
        background-image: url("../images/introduce_bg.svg");
        @include background-img;
        background-size: contain;
    }
    .notice {
        border: 1px solid $mainPink400;
        background-color: rgba(187, 0, 49, 0.4);
        padding: 1rem;
        border-radius: 20px;
        margin: 3rem 2rem 1rem 2rem;
    }
    .swiper-pagination-bullet {
        border: 2px solid $mainBlue100;
        background-color: transparent;
        width: 12px;
        height: 12px;
        opacity: 1;
        &-active {
            width: 40px;
            border-radius: 10px;
            background-color: $mainBlue100;
        }
    }
}

// 獎品兌換 03_award.html
.progress-img {
    margin-top: 56px;
    padding-top: 1rem;
    width: 100%;
}
.btn-voucher, .btn-vocher:hover, .btn-voucher:active, .btn-voucher:focus {
    color: white!important;
    border: 1px solid #A5A5A5!important;
    width: 100%;
    display: flex;
    align-items: stretch;
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
    .gift {
        padding: 1rem 1rem 2rem 1rem;
    }
    .award-text {
        text-align: left;
        padding: 1rem 1rem 1rem 0;
    }
    .state {
        background-color: rgba(165, 165, 165, 0.7);
        padding: .5rem 1rem;
        border-left: 2px dashed #A5A5A5;
        display: flex;
        align-items: center;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    &.vocher-reach, &.vocher-reach:hover {
        border-color: $mainPink200!important;
        .state {
            background-color: rgba(255, 121, 135, 0.7);
            border-color: $mainPink200;
        }
    }
    &.vocher-finished, .vocher-finished:hover {
        color: #8095A0!important;
        position: relative;
        border-color: #8095A0!important;
        .img-finished {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.exchange-input {
    border: 1px solid $mainPink200;
    &::placeholder {
        color: #a5a5a5;
    }
}

// 排行榜 04_leaderboard.html
.btn-complete {
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 5;
    color: #fff;
    background-color: $mainBlue200;
    border-radius: 50px;
    padding: .25rem 1.25rem;
    &:hover, &:active, &:focus {
        color: #fff!important;
        background-color: darken($mainBlue200, 10%)!important;
        border-color: darken($mainBlue200, 10%)!important;
    }
}
.leaderboard {
    border: 1px solid $mainBlue100;
    padding: .5rem;
    background-color: rgba(0, 116, 162, 0.2);
    margin-top: 60px;
    height: calc(100vh - 160px - 2rem);
    overflow-y: scroll;
    table {
        margin-bottom: 0;
        thead {
            color: $mainBlue100;
            th {
                border-bottom: 0;
                &.point {
                    text-align: right;
                }
            }
        }
        tbody {
            color: white;
            tr {
                &.me {
                    th {
                        border-left: 2px solid $mainPink100;
                        background: linear-gradient(90deg, #7F596E 0%, #665369 100%);
                    }
                    td {
                        &:nth-child(2) {
                            background: linear-gradient(90deg, #665369 0%, #073B56 100%);                               
                        }
                        &:nth-child(3) {
                            background: linear-gradient(90deg, #073B56 0%, #023A55 100%);
                        }
                    }
                }
                th {
                    border-left: 2px solid $mainBlue100;
                    background: linear-gradient(90deg, #296E94 0%, #226487 100%);
                }
                th, td {
                    border-bottom: 3px solid #163953;
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    position: relative;
                    .crown {
                        position: absolute;
                        right: 0;
                        top: -4px;
                        transform: rotate(20deg);
                    }
                }
                td {
                    &:nth-child(2) {
                        background: linear-gradient(90deg, #226589 0%, #043C58 100%);
                    }
                    &:nth-child(3) {
                        background: linear-gradient(90deg, #043C58 0%, #023A55 100%);
                    }
                }
                .line {
                    padding-left: 0;
                    padding-right: 0;
                }
                .point {
                    text-align: right;
                }
            }
        }
    }
}
.my-score {
    border: 1px solid $mainPink100;
    padding: 1rem .5rem;
    background-color: rgba(244, 67, 90, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    height: 100px;
    .decoration {
        position: absolute;
        top: 0;
        right: 0;
    }
    table {
        margin-bottom: 0;
        tbody {
            color: white;
            tr {
                th {
                    border-left: 2px solid $mainPink100;
                    background: linear-gradient(90deg, #935967 0%, #895564 100%);
                }
                th, td {
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    border-bottom: 0;
                }
                td {
                    &:nth-child(2) {
                        background: linear-gradient(90deg, #895564 0%, #363249 100%);                             
                    }
                    &:nth-child(3) {
                        background: linear-gradient(90deg, #363249 0%, #393246 100%);
                    }
                }
                .line {
                    padding-left: 0;
                    padding-right: 0;
                }
                .point {
                    text-align: right;
                }
            }
        }
    }
}

// 遊戲說明 05_introduction.html
.page-introduce {
    text-align: center;
    color: white;
    margin-top: 60px;
    .introduce {
        background-image: url("../images/introduce_bg.svg");
        @include background-img;
        background-size: contain;
    }
}